<div class="pt2 pt5-l pb4 mt4 w-80 w-50-ns center">
  <%= for user <- @users do %>
    <%= link(to: sa_messages_path(@conn, :view_messages, %{user: user.id})) do %>
      <div class="">
        <p class="b"><%= user.id %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="pt4">
  <%= link("message all", to: sa_messages_path(@conn, :new, [to_all: true]),
    class: "white ph4 pv3 ba br2 link db mb4 center pointer bg-red") %>
</div>
