<div class="jumbotron">
  <h2>BestEvidence</h2>
  <%= form_for @conn, search_path(@conn, :new), [as: :search, method: :get], fn f -> %>
    <div class="input-group">
      <%= text_input f, :search, placeholder: "Search", class: "form-control" %>
      <span class="input-group-btn">
        <%= submit "Search", class: "btn btn-default" %>
      </span>
    </div>
  <%= end %>
</div>
