<div class="flex tc pt2">
  <%= link(
    "Individuals",
    to: Bep.MessagesView.msg_path_helper(
      &sa_messages_path/3,
      &ca_messages_path/3,
      @conn,
      :list_users
    ),
    class: to_user_classes(@conn)) %>
  <%= link(
    "Send to all",
    to: Bep.MessagesView.msg_path_helper(
      &sa_messages_path/3,
      &ca_messages_path/3,
      @conn,
      :new,
      [to_all: true]
    ),
    class: to_all_classes(@conn)) %>
</div>
