<div class="fixed top-0 z-5 w-100">
  <p class="tl f6 ph3 pv2 mv0 bg-moon-gray">
    Best Evidence is in Alpha -
    <a href="mailto:bestevidencefeedback@gmail.com?subject=Feedback on BestEvidence App (page <%=assigns[:path]%>)" class="black" >help give feedback</a>
  </p>
</div>
