<%= if @answer == @ans do %>
  <div class="mv1 ml2">
    <label>
      <%= radio_button @f, create_name(@q, @outcome), @ans, checked: true %>
      <p class="dib mv0"><%= @str %></p>
    </label>
  </div>
<% else %>
  <div class="mv1 ml2">
    <label>
      <%= radio_button @f, create_name(@q, @outcome), @ans, checked: false %>
      <p class="dib mv0"><%= @str %></p>
    </label>
  </div>
<% end %>
