<div class="bg-green tc white pb4">
  <p class="pv3 mt0">Best Evidence is currently in Alpha</p>
  <h1 class="f3 lh-copy pt3">Find the Best Quality<br>Clinical Evidence.</h1>
  <%= link "Log in", to: session_path(@conn, :new), class: "db pa2 b br2 mv4 bg-white w4 center link" %>
  <a href="/about" class="white underline">About Best Evidence</a>
</div>
</div>
