<div class="bep-bg-green tc white pv5 vh-100">
  <h1 class="f3 lh-copy pt3 mv0">Find the Best Quality<br>Clinical Evidence.</h1>
  <%= link "Log in", to: session_path(@conn, :new), class: "pointer db pa2 b br2 mv4 bg-white bep-blue w4 center link" %>
  or
  <%= link "Create an Account", to: consent_path(@conn, :index), class: "pointer db pa2 b br2 mv4 bg-white bep-blue w5 center link" %>
  <a href="/about" class="white underline">About Best Evidence</a>
</div>
